header {
  background-color: #4c2676;
  color: white;
}

.image-wrapper {
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

input {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
}

ul {
  padding-left: 0;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.save-button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.save {
  background-color: #4c2676;
  color: white;
  padding: 0.4rem;
  border-radius: 10%;
}

.no-entries {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.entries-button {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-button {
  background-color: #4c2676;
  color: white;
  padding: 0.4rem;
  border-radius: 10%;
}

.edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.delete-button {
  background-color: white;
  margin-right: auto;
  color: red;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.7rem;
  text-transform: none;
  text-decoration: underline;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 500px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-wrappers {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  background-color: #b6b6b6;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.confirm-button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  background-color: #dd342f;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
