header {
  background-color: #4c2676;
  color: white;
}

.image-wrapper {
  margin-bottom: 1rem;
}

img {
  width: 100%;
}

input {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
}

textarea {
  width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
}

ul {
  padding-left: 0;
}

h3 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

.save-button-div {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}

.save {
  background-color: #4c2676;
  color: white;
  padding: 0.4rem;
  border-radius: 10%;
}

.no-entries {
  display: flex;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.entries-button {
  margin-left: 1rem;
  color: white;
  text-decoration: none;
}

.new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-button {
  background-color: #4c2676;
  color: white;
  padding: 0.4rem;
  border-radius: 10%;
}

.edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
